html{
    background-color: #35176e;
}
#tituloGeneral{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 60px;
    margin: 50px;
}
.bloque{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: auto;
    background-size: 100% 100%;
    padding-right: 30px;
    border: 5px solid black;
    
    display: flex;
    flex-direction: column;
}
.contenedorTitulo{
    align-self: flex-start;
    width: 90%;
}
.contenedorCeldas{
    align-self: flex-end;
}
.imagen{
    height: 100px;
    width: 100%;
    background-color: black;

    
    align-items: flex-end;
}
#intro{
    background-color: black;
    color: white;   
}
#intro p{
    max-width: 50%;
    text-align: justify;  
}
.celda{
    text-align: right;
    background-color: rgb(54, 51, 51);
    color: white;
    margin: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.fecha{
    font-size: 30px;
    font-weight: 800;
}
.muchotexto{
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color:#333;
    padding: 10px;
}
.almeria{
    background-image: url(Banderas/BanderaAlmeria.png);
}
.cordoba{
    background-image: url(Banderas/BanderaCordoba.png); 
}
.jaen{
    background-image: url(Banderas/BanderaJaen.png);
}
.huelva{
    background-image: url(Banderas/BanderaHuelva.png);
}
.cadiz{
    background-image: url(Banderas/BanderaCadiz.jpg);
}
.malaga{
    background-image: url(Banderas/BanderaMalaga.png);
}
.sevilla{
    background-image: url(Banderas/BanderaSevilla.png);
}
.granada{
    background-image: url(Banderas/BanderaGranada.png);
}
.tituloFosas{
    text-align:center;
    font-size: 70px;
    background-color: purple;
    font-style: italic;
    color: white;
}
.URL{
    color: blue;
    font-size: 20px;
    
}
h2{
    text-align: center;
    color: white;
    
}
p{
    padding: 5%;
}
ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; 
    color: white;
    padding: 10px 15px;
    display: block;
}


header {
    background-color: #333;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.menu {
    display: flex; 
    justify-content: center;
}

.menu > li {
    position: relative; 
}

.menu li a:hover {
    background-color: #555;
}



.submenu {
    display: none; 
    position: absolute;
    background-color: #444;
    min-width: 200px; 
    z-index: 1000; 
    left: 0;
}


.menu li:hover > .submenu {
    display: block;
}


.submenu li {
    width: 100%; 
}

.submenu li a:hover {
    background-color: #666;
}
body {
    font-family: "Lato", sans-serif;
    transition: margin-left .5s; /* Suaviza el movimiento del contenido principal */
}

/* Estilos del menú lateral */
.sidebar {
    height: 100%;
    width: 0; /* Ancho 0 por defecto (oculto) */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; /* Oculta el scroll horizontal */
    transition: 0.5s; /* Suaviza la animación de apertura/cierre */
    padding-top: 60px;
}

/* Estilos de los enlaces principales */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
    background-color: #555;
}

/* Botón de cierre (la X en la esquina superior) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important; /* Importante para que sea grande */
    margin-left: 50px;
}

/* Botón para abrir (la pestaña lateral) */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed; /* Se queda fijo en la pantalla */
    top: 15px;
    left: 15px;
    z-index: 2;
}

.openbtn:hover {
    background-color: #444;
}

/* Estilos para el contenido principal (se mueve cuando se abre el menú) */
#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* Estilos para los submenús dentro del sidebar */
.main-menu {
    padding-top: 20px;
}

.submenu {
    padding-left: 20px;
    /* Los submenus internos ya están visibles por defecto dentro del sidebar */
}

.submenu a {
    font-size: 16px;
    color: #bbb;
}
footer{
background: blueviolet;
color: white;  
}   
