html{
    background-color: #9e7cdd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#tituloGeneral{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 60px;
    margin: 50px;
}
.contenedorGeneral{
    display: flex;
    flex-direction: row;
}
.bloque{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: auto;
    background-size: 100% 100%;
    padding-right: 30px;
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
}

.contenedorTitulo{
    align-self: flex-start;
    width: 90%;
    border-radius: 20px;
    align-self: center;
}

.contenedorGeneral{
    display: flex;
    gap: 15px;
    padding: 20px;
    align-items: flex-start;
}

.imagen{  
    height: 200%;
    width: 200%;
    background-color: black;
    display: flex;
    flex-direction: row;
    border-radius: 20px;  
    align-self: center;
}
#intro{
    background-color: rgb(54, 51, 51);
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}
#intro p{
    text-align: justify;
}
.celda{
    text-align: center;
    align-self: center;
    background-color: rgb(80, 78, 78);
    color: white;
    margin: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 20px;
    
}
.imagenAmpliada{
    border-radius: 20px;
    height: 100%;
    width: 100%;
}
.fecha{
    font-size: 30px;
    font-weight: 800;
    
}
.muchotexto{
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color:#333;
    padding: 10px;
}
.almeria{
    background-image: url(Banderas/BanderaAlmeria.png);
}
.cordoba{
    background-image: url(Banderas/BanderaCordoba.png); 
}
.jaen{
    background-image: url(Banderas/BanderaJaen.png);
}
.huelva{
    background-image: url(Banderas/BanderaHuelva.png);
}
.cadiz{
    background-image: url(Banderas/BanderaCadiz.jpg);
}
.malaga{
    background-image: url(Banderas/BanderaMalaga.png);
}
.sevilla{
    background-image: url(Banderas/BanderaSevilla.png);
}
.granada{
    background-image: url(Banderas/BanderaGranada.png);
}
.tituloFosas{
    text-align:center;
    font-size: 70px;
    background-color: purple;
    font-style: italic;
    color: white;
}

.URL{
    color: blue;
    font-size: 20px;
    
}
h2{
    text-align: center;
    color: white;
    font-size: 60px;
}
p{
    padding: 5%;
}

ul a{
    font-size: 15px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 15px;
}

header {
    background-color: #333;
    color: white;
}

.menu {
    display: flex;
    border: black solid 5px;
}
.visual{
    border: black solid 2px;
    text-align: center;
    padding: 2em;
}
.menu > li {
    position: relative;
    flex-grow: 1; 
}

.menu li a:hover {
    background-color: #555;
}
.tituloCelda{
    font-size: 30px;
    color: #000000;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
}
.submenuarriba {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 200px;
    z-index: 1000;
    left: 0;
    padding-left: 30px;
    border: black solid 5px;
}

.menu li:hover > .submenuarriba {
    display: block;
}


.submenuarriba li {
    width: 100%;
}

.submenuarriba li a {
    padding: 8px 12px;
}

.submenuarriba li a:hover {
    background-color: #666;
}  

.menu-toggle-btn {
    position: fixed;
    top: 50%; 
    left: -40px; 
    transform: translateY(-50%); 
    z-index: 2000;
    width: 40px; 
    height: 40px; 
    background-color: #555; 
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7px;
    border-radius: 0 5px 5px 0;
    transition: left 0.3s ease-in-out;
}

.menu-toggle-btn.is-visible {
    left: 0px;
}

.menu-toggle-btn .bar {
    display: block;
    height: 4px;
    width: 100%;
    background-color: white; 
    border-radius: 1px;
}

.menu-lateral {
    z-index: 1500;
    position: fixed; 
    height: 100%; 
    left: -200px;
    transition: left 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.menu-lateral.is-active {
    left: 0; 
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1400;
    display: none;
}
.menu-overlay.is-active {
    display: block;
}

.menudesplegable {
    background-color: #222; 
    color: white;
    border: 1px solid #000; 
    width: 200px;
    height: auto;
}

.menudesplegable > li {
    position: relative;
    text-align: left; 
    border-bottom: 1px solid #000; 
}

.menudesplegable > li:last-child {
    border-bottom: none;
}


.menudesplegable a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 15px; 
}

.menudesplegable > li > a {
    position: relative; 
    padding-right: 25px; 
}

.menudesplegable > li > a::after {
    content: " ►"; 
    position: absolute;
    right: 10px; 
    font-size: 0.8em;
    top: 50%;
    transform: translateY(-50%);
}

.menudesplegable a:hover {
    background-color: #444; 
}

.submenu {
    display: none; 
    position: absolute;
    background-color: #222; 
    left: 100%;
    top: -1px; 
    min-width: 200px;
    border: 5px solid #000;
    list-style: none; 
    padding-left: 30px;

}

.menudesplegable li:hover > .submenu {
    display: block;
}

.submenu li a {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #000; 
}
.submenu li:last-child a {
    border-bottom: none;
}

.submenu li a:hover {
    background-color: #333; 
}

footer{
    font-size: 20px;
    background: blueviolet;
    color: white;  
}   
